nav .header-logo {
    font-size: 1rem;
}
.navigation {
    .row:first-child {
        background-color: #282c34;
    }

    .row:nth-child(2) {
        background-color: #131812;
        box-shadow: 0 5px 5px 5px rgba(black, 0.2);
        margin-bottom: 30px;
    }

    a {
        color: #eee;
    }
    .navbar-nav li {
        margin-right: 50px;
    }
}

.cart {
    color: white;
    position: relative;
    .cart-bg {
        position: absolute;
        background-color: orange;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        top: -2px;
        right: -9px;
        .cart-amount {
            text-align: center;
            font-size: 11px;
            color: black;
            position: absolute;
            top: 0px;
            left: 4px;
        }
    }
    .fa-shopping-cart {
        color: blue;
    }
}

.sign-in {
    a {
        font-size: 14px;
    }
    :first-child::after {
        content: "/";
    }
}

.search-input {
    flex-grow: 1;
}
